<%- include("header")-%>
  <form action="/expense-tracking" method="get">
    <button type="submit">Expense Tracking</button>
  </form>
  <form action="/bill-splitting" method="get">
    <button type="submit">Bill Splitting</button>
  </form>
  <form action="/reports-analytics" method="get">
    <button type="submit">Reports & Analytics</button>
  </form>
<%- include("footer")-%>
