<%- include("header")-%>
  <div class="box" id="heading">
    <h1>SplitBuddy</h1>
  </div>
  <div class="buttons">
    <form action="/expense-tracking" method="get">
      <button type="submit">Expense Tracking</button>
    </form>
    <form action="/bill-splitting" method="get">
      <button type="submit">Bill Splitting</button>
    </form>
    <form action="/reports-analytics" method="get">
      <button type="submit">Reports & Analytics</button>
    </form>
  </div>
<%- include("footer")-%>
